---
import Navbar from "@/components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { iconChar } from "@/core/utils";
---

<Layout>
  <Navbar />
  <div class="dot-grid">
    <div
      class="h-[calc(100vh-70px)] container flex flex-col items-center justify-center"
    >
      <h1 class="text-4xl font-bold">Easy use icon in Flutter</h1>

      <p class="mt-6 py-3 px-6 rounded-2xl bg-neutral-100 border-neutral-200">
        flutter pub add easy_icons
      </p>

      <div class="mt-6 flex gap-x-6">
        <a href="./ionicons" class="flex gap-x-2 items-center">
          <span class="ionicons">
            {iconChar(60426)}
          </span>
          <p class="underline">IonIcons</p>
        </a>
        <a href="./remixicons" class="flex gap-x-2 items-center">
          <span class="remixicons">
            {iconChar(62031)}
          </span>
          <p class="underline">RemixIcons</p>
        </a>
        <a href="./tablericons" class="flex gap-x-2 items-center">
          <span class="tablericons">
            {iconChar(59832)}
          </span>
          <p class="underline">TablerIcons</p>
        </a>
      </div>
    </div>
  </div>
</Layout>
